
            label{
                color:blue;
                font-weight: bold;
            }
            .tab1{
                border: 1px solid #cc0000
            }
            .tab2{
                border: 1px solid #3407d9
            }
            #lastname{
                color:chocolate;
            }
            body > p{
                font-style: italic;

            }
            .parent{
                border: 2px dashed #cc0000;
                padding:10px;
                /*margin: 5 px; */
                /*margin-top: 20px;
                margin-right: 5px;
                margin-bottom: 30px;
                margin-left: 15px; */
                /* margin: 15px 5px 5px 25px 45px;


        