
            label{
                color:blue;
                font-weight: bold;
            }
            .tab1{
                border: 1px solid #cc0000
            }
            .tab2{
                border: 1px solid #3407d9
            }
        